language: php

php:
    - 7.1
    - 7.2
    - 7.3
    - nightly

allow_failures:
    - php: nightly

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source

script: phpunit
